* {
  margin: 0;
  padding: 0;
  background: #f0eed1;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #119178;
  scroll-behavior: smooth;
}

.photo {
  display: none;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.radio:checked ~ label .photo {
  display: block;
}

.item:hover .photo {
  display: block;
}

.radio {
  /* appearance: none; */
  display: none;
  /* если none тогда нормально проподает кнопка! */
}

.plus__img {
  width: 1.1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  min-height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}

.main {
  max-width: 50%;
  margin: 0 auto;
  /* border: 0.07rem solid black; */
}

.container {
  width: 100%;
}

.label__hover {
  margin-bottom: 1rem;
}

.item {
  border: 0.07rem solid black;
}

.flex {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Это поворот крестика !!! */
.plus__img {
  transform: rotate(45deg);
}

.radio:checked ~ label .plus {
  transform: rotate(45deg);
  transition: 1s;
}

/* Это поворот крестика !!! */

p:hover ~ .plus {
  transform: rotate(45deg);
  transition: 1s;
}

.flex:hover ~ p .plus {
  transform: rotate(45deg);
  transition: 1s;
}
